.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section3{
    display: flex;
    flex-direction: column;
}
.section1, .section3, .section2{
    text-align: center;
    

}
.content{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 0;
    column-gap: 5px;
}
.b{
    position: sticky;
    top: 1em;
    margin: 20px;
    border-radius: 100px;
}

